* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.item {
  background-color: #f6f6fe;
  max-width: 392px;
  margin-bottom: 24px;
  padding: 16px;
}

.category-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.category-list {
  padding: 0;
}

.category-item {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  margin-bottom: 8px;
  padding: 8px 0;
  padding-left: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1440px;
  margin: 0 auto;
}

.gallery-li-item {
  width: calc((100% - 48px) / 3);
}

.gallery-img {
  width: 100%;
  height: 100%;
}

.output-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 0 8px 16px;
}

input::placeholder {
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > label {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 8px;
}

form > label:nth-child(1) {
  margin-bottom: 8px;
}

form > label:nth-last-child(2) {
  margin-bottom: 16px;
}

form > label > input {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  padding: 8px 16px;
}

form > label > input:hover {
  border: 1px solid #000;
}

form > button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
}

form > button:hover {
  background-color: #6c8cff;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.widget > p,
.color {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border-radius: 8px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.change-color:hover {
  background-color: #6c8cff;
}
